parameters:
    level: 5
    paths:
        - src
        - tests
    ignoreErrors:
        -
            messages:
                - '#Undefined variable: \$this#'
                - '#Access to an undefined property Pest\\Mixins\\Expectation<mixed>::\$not#'
            paths:
                - tests/*
